.img-container img {
    margin: 10px;
    height: 100px;
}
.img-container a:focus {
    text-decoration: none;
}
.inline-group .tabular tr.has_original.hide_original td {
    padding-top: 10px;
}
.img-item-container {
    display: block;
}
.img-item-container.has_original {
    display: inline-block;
    text-align: center;
}
