{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "rest/style.css" %}">
{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Import products' %}
</div>
{% endblock %}
{% endif %}
{% block content %}
<div id="content-main">
  <form action="{% url 'admin:rest_product_import' %}" method="post">
    {% csrf_token %}
    <div>
      <p>Select file for importing products.</p>
      <fieldset class="module aligned">
        {{ form }}
      </fieldset>
      <div class="submit-row">
        <input type="submit" value="{% translate 'Import' %}" class="default">
      </div>
    </div>
  </form>
</div>
{% endblock %}
